.navbar {
  padding: 20px 15px;
  margin-bottom: 50px;
  h1 {
    .navbar-brand {
      font-size: 1.75rem;
    }
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 5px 20px !important;
}
.navbar-collapse {
  justify-content: flex-end;
}
