@import "../../variables";

.card {
  position: relative;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  padding: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 20px;
  transition: 0.7s;
  min-height: 350px;
  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgba(85, 108, 214, 0.2);
    color: #4e73e5;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 1.25rem 1.25rem 0 1.25rem;
  }
  .card-body {
    padding-bottom: 0;
    .card-title {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .btn-danger {
    margin-left: 10px;
  }
  .card-footer {
    border: 0;
    background: none;
  }
}
.card::before {
  content: "";
  position: absolute;
  background: rgba(85, 108, 214, 0.1);
  width: 236px;
  height: 590px;
  z-index: -1;
  transform: rotate(42deg);
  right: -55px;
  top: 17px;
  border-radius: 35px;
}
.card::after {
  content: "";
  position: absolute;
  background: rgba(54, 81, 207, 0.15);
  width: 100rem;
  height: 100rem;
  z-index: -1;
  top: 30rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}
.post-card:first-child .card,
.card:hover {
  background: #309df0;
  color: #fff;
  z-index: 9;
  .card-header {
    background: #fff;
  }
}
.card:hover::after {
  top: 0rem;
}
.card:hover::before {
  background: rgb(85 108 214 / 10%);
}
