/*=== fonts ====*/

$pop: 'Poppins',
sans-serif;
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900');

/*===== colors =====*/

$primary-blue: #309df0;
$dark-blue:#267dc0

