@import "variables";

body {
  background: #f4f7fd;
  color: #3c4142;
  font-family: $pop;
}
.btn {
  color: #fff;
  border-radius: 15px;
  padding: 0.2rem 1rem;
}
.btn-primary {
  color: #fff;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  border: 0;
}
.btn-primary:hover,
.btn-danger:hover {
  border: 0;
  background: $dark-blue !important;
}
header {
  background-color: #343a40;
}
h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
